$blue: #A4D4FF;
$border-style: 3px solid $blue;




p {
  color: $blue;
  margin-top: 0px;
}

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 300px;
  height: 281px;
  z-index: 1;
}

#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);

}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  left: 10px;
  bottom: 10px;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: transparent;
}
img {
  height: 250px;
}
.all-shirts{
  margin: 100px;
  overflow: none;
  margin: auto;
}

.shirt-menu{
  float: left;
  margin-left: 30px;

}

.big-shirt {
  height: 250px;
  width: 280px;
  padding: 30px 10px 30px 20px;
  border: 3px solid #A4D4FF;
  position: relative;
  margin: 0;
}
.refresh{
  border-bottom: $border-style;
  border-left: $border-style;
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 0;
  width: 20px;
  position: absolute;
  bottom: 289px;
  left: 285px;
}

.refresh:hover {
  background-color: $blue;
  color: white;
}

.refresh {
  color: $blue;
}
footer {
  height: 90px;
  width: 310px;
  margin: 0;
  bottom: 5px;
  right: 0;
  position: relative;
}

.icons  {

  color: $blue;
  position: absolute;
  margin: 0;
}
.arrows-container:hover{
  @extend .refresh:hover;
}

.arrows-container {
  position: relative;
  top: 3px;
  height: 42px;
  width: 60px;
  border-left: $border-style;
  border-bottom:  $border-style;
  border-right: $border-style;
}

.arrows {
  bottom: -9px;
  left: 2px;
  position:absolute;
  padding: 23px 0px 20px 20px;
}

.heart-container:hover {
@extend .refresh:hover;
}

.heart-container{
  position: relative;
  margin: 0;
  bottom: 42px;
  left: 66px;
  height: 42px;
  width: 57px;
  border-bottom:  $border-style;
  border-right: $border-style;
}
.heart {
  top: 15px;
  left: 22px;
  position: absolute;
}

.shirt-container:hover {
  @extend .refresh:hover;
}
.shirt-container:hover .little-container {
  opacity: 1;
  visibility: visible;
  left: 0;
  transform: translate(0px, 15px);
}


.shirt-container {
  position: relative;
  bottom: 85px;
  left: 125px;
  height: 40px;
  width: 62px;
  border-bottom:  $border-style;
  border-right: $border-style;
}

ul {
  position: absolute;
  font-size: 20px;
  /*right: 14px;*/
  top: -2px;
}

li {
  list-style: none;
}
.shirt {
  top: 13px;
  right: 22px;
  position: absolute;
  padding: 0;
}
.little-container{
  position: absolute;
  background: white;
  height: 200px;
  width: 62px;
  border: 3px solid #A4D4FF;
  bottom: 57px;
  transition: all .4s ease-out;
  transform-origin: bottom right;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.little-container .triangle-dowm{
position: absolute;
top: 200px;
left: 25px;
width: 0;
height: 0;
border-style: solid;
border-width: 10px 7.5px 0 7.5px;
border-color:  #ffffff transparent transparent transparent;
}

.shirt-list{
  padding: 0;
  margin: 0;
  height: 62px;
  width: 62px;
  background-color: white;
}
.shirt-list li {
  float: left;
  font-size: 25px;
  margin-top: 0;
  margin-left: 6px;
  height: 40px;
}

.box-container:hover{
  @extend .refresh:hover;
}
.box:hover {
  color: $blue;


}
.box-container{
  position: relative;
  bottom: 128px;
  left: 190px;
  height: 40px;
  width: 63px;
  border-bottom:  $border-style;
  border-right: $border-style;

.box {
  margin: 0;
  top: 12px;
  left: 27px;
  position: absolute;

}
.box-container:hover .boxes-container{
  opacity: 1;
  visibility: visible;
  left: 0;
  transform: translate(0px, 15px);
}
.box-container:hover .box {
  color: white;
  padding: 0;
}

.boxes-container {

  position: absolute;
  height: 62px;
  width: 62px;
  background: white;
  border: $border-style;
  bottom: 58px;
  transition: all .4s ease-out;
  transform-origin: bottom right;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.boxes-container .triangle-dowm{
position: relative;
top: 62px;
left: 23px;
width: 0;
height: 0;
border-style: solid;
border-width: 10px 7.5px 0 7.5px;
border-color: #fff transparent transparent transparent;

}

.colors-list  {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 62px;
  width: 62px;
  background-color: white;
   }

.colors-list li {
  float: left;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 6px;
}

.cart-container:hover {
  @extend .refresh:hover;
}

.cart-container {
  position: relative;
  bottom: 173px;
  left: 255px;
  height: 42px;
  width: 58px;
  border-right:  $border-style;
  border-bottom:  $border-style;

}

.cart {
  top: 15px;
  left: 20px;
  position: absolute;

}

.info {
  position: absolute;
  overflow: hidden;
  top: 53px;
  height: 50px;
  width: 313px;
}
.shirt-name {
  margin: 0;
  font-size: 25px;
  position: relative;
  left: 13px;
  height: 45px;
  width: 138;
  float: left;
}
.price {
  font-size: 25px;
  position: relative;
  right: 60px;
  width: 138;
  float: right;
}
}
